<nz-layout>
  <nz-content>
    <div nz-row nzGutter="16" nzType="flex" nzJustify="space-around" nzAlign="middle">
      <div nz-col nzSpan="2" class="grid-line-match-date">col-12</div>
      <div nz-col nzSpan="2" class="grid-line-match-date">col-12</div>
      <div nz-col nzSpan="2" class="grid-line-match-date">col-12</div>
      <div nz-col nzSpan="18" class="grid-line-match-date">
          <button (click)='gotoNews()' nz-button nzType="dashed"><i nz-icon type="search"></i>Search</button>
      </div>      
    </div>
  </nz-content>
</nz-layout>