.container {
    .dynamic-label-button {
        position: relative;
        left: 10px;
        font-size: 18px;
        padding-right: 10px;
        vertical-align: text-bottom;
      }
      
    nz-form-label{
        text-align: -webkit-center;
      }

    .label-icon {
        text-align: -webkit-center;
        line-height: 39.9999px;
    }
   
}